$bgColor: #1253a9;
$inputColor: darken($bgColor, 10%);
$borderInputColor: darken($bgColor, 20%);
$shadowInputSize: 25px;
$shadowInputColor: rgba(0,0,0,.1);
$shadowInputColorFocus: rgba(0,0,0,.5);
$textInputColor: #fff;
$placerHolderColor: rgba(255, 255, 255, .5);
$taskBackgroundColor: #eee;
$borderTaskColor: #ccc;
